
  <h2>Components: </h2>
  <ul>
    <li><a routerLink="/alert-button" routerLinkActive="active">Alert Button</a></li>
    <li><a routerLink="/facts-table" routerLinkActive="active">Table</a></li>
    <li><a routerLink="/colorful-list" routerLinkActive="active">Colorful List</a></li>
    <li><a routerLink="/nested-list" routerLinkActive="active">Nested List</a></li>
    <li><a routerLink="/google-links" routerLinkActive="active">Google links</a></li>
    <li><a routerLink="/leap-year" routerLinkActive="active">Leap Year Checker</a></li>
    <li><a routerLink="/shopping-list" routerLinkActive="active">Shopping List</a></li>
  </ul>

  <router-outlet></router-outlet>

 
  